@model ProjectJMM.Models.Expense
<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pe-lg-3">Add Expense</h2>
            </div>
            <div class="row">
                <div class="col-12">
                   @* <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Id"></label>
                        </div>*@
                    <div class="col-4">
                        <label asp-for="ExpenseName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Amount"></label>
                    </div>
                    
                </div>
                <div class="form-group row">
                    @*<div class="col-4">
                        <input asp-for="Id" class="form-control"/>
                      
                    </div>*@
                    <div class="col-4">
                        <input asp-for="ExpenseName" class="form-control" />
                        <span asp-validation-for="ExpenseName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>

                    </div>
                </div>
                <div class="from-group row">
                    <div class="col-8 ofset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-70" value="create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-75">Back</a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</form>
@*@section script{
    @{<partial name="_ValidationScriptsPartial"/>}
}*@
@*@model ProjectJMM.Models.Item
<form method="post" asp-action="Create">

@*<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Borrow" class="control-label"></label>
                <input asp-for="Borrow" class="form-control" />
                <span asp-validation-for="Borrow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lender" class="control-label"></label>
                <input asp-for="lender" class="form-control" />
                <span asp-validation-for="lender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@