@model IEnumerable<ProjectJMM.Models.Item>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">BorrowedItemList</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Item" asp-action="Create" class="btn btn-dark">Create New Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:90%">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Borrow
                    </th>
                    <th>
                        lender
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="30%">@item.ItemName</td>
                        <td width="30%">@item.Borrow</td>
                        <td width="30%">@item.lender</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    

</div>
